header, footer div, .page-container {
	width: 90%;
	margin: 0 auto;
}

@media (max-width: 400px) {
	header, footer div, .page-container {
		width: 80%;
	}
}

.page-container {
	display: flex;
	flex-direction: column;
	gap: 2em;
}
